rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // ---- Sadece docs/ klasörü kullanılacak ----
    match /docs/{allPaths=**} {
      // Ziyaretçi tarafı referans verebilirse okunabilir (istersen false yapabilirsin)
      allow read: if true;
      // Yalnızca bu iki admin yükleyebilsin
      allow write: if request.auth != null
                   && (request.auth.token.email == "hidayetaslan@gmail.com"
                       || request.auth.token.email == "mylife.carelio@gmail.com");
    }

    // Diğer tüm yollar kapalı
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
